.itemContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px 0;
    /* border: 1px solid black; */
    /* padding: 5px; */
    width: 80%
  }
  
  .closeBtn {
    color: white;
    font-weight: 500;
    padding: 5px;
    margin: 10px;
    width: 20%
  }

  .btnMain{
    display: flex;
    justify-content: flex-end;
  }
  
  .closeBtn:hover {
    cursor: pointer;
  }
  .completed {
    text-decoration: line-through;
  }

  .checkBox{
    margin: 0px 10px 40px 5px;
  }

  .header{
    color: green;
  }

  .cardContainer{
    width: 100%;
  }

  .textModal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }